*, ::after, ::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@mixin display-flex {
    display: flex;
    justify-content: center;
    border: 1px solid pink;
}

.content {
    @include display-flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
    height: 100svh;
}

main {
    @include display-flex;
    flex-direction: row;
    flex: 5;
    .side-bar-left {
        @include display-flex();
        flex-direction: column;
        flex: 1;
        .profile-icon {
            display: flex;
            align-items: center;
            flex-direction: row;
            padding-left: 10px;
            flex: .6;
            gap: 10px;
            border: solid;
            .icon-div {
                @include display-flex();

            } 
            .icon {
                @include display-flex();
                border: solid;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .upgrade {
            @include display-flex();
            flex: .4;
            .upgrade-btn {
                @include display-flex();
                align-items: center;
                background-color: rgb(24, 97, 255);
                width: 150px;
                border-radius: 50px;
            }
        }
        .add-tab {
            flex: .5;
            border: solid;
        }
        .project-list {
            flex: 6;
            border: solid;
        }
    }
    .side-bar-right {
        @include display-flex();
        flex-direction: column;
        flex: 1;
        .suggest {
            @include display-flex();
            flex-direction: row;
            flex: .4;
            border: solid;
            .add-suggested {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 5;
            }
            .settings {
                @include display-flex();
                align-items: center;
            }
        }
        .suggested-items {
            flex: 9;
            border: solid;
        }
    }
    .display-list {
        @include display-flex();
        flex-direction: column;
        flex: 5;
        header {
            @include display-flex();
            flex-direction: row;
            flex: 1.5;
            .greet {
                display: flex;
                flex-direction: column;
                border: solid pink;
                flex: 8;
                font-size: 24px;
                font-weight: 900;
                .name {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    border: solid;
                }
                .quote {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    border: solid;
                }
            }
            .date {
                display: flex;
                flex-direction: column;
                flex: 1.5;
                border: solid pink;
                .weekday {
                    flex: 1;
                    font-size: 24px;
                }
                .date {
                    font-size: 64px;
                    flex: 3;
                }
                .month {
                    flex: .5;
                }
            }
            .date :nth-child(1n + 1) {
                @include display-flex();
                align-items: center;
            }
        }
        .todo-list {
            flex: 7;
            border: solid;
        }
        .search {
            @include display-flex();
            align-items: center;
            flex: .5;
            border: solid;
            .search-bar {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px;
                border: 1px solid;
                border-radius: 5px;
                .search-input {
                    padding-left: 5px;
                    border: none;
                    outline: none;                    
                    width: 450px;
                    height: 30px;
                }
                #calendar {
                    cursor: pointer;
                }
                #upload {
                    cursor: pointer;
                }  
            }
            
        }
    }
}

footer {
    @include display-flex;
    align-items: center;
    flex: .2;
}