*, ::after, ::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@mixin display-flex {
    display: flex;
    justify-content: center;
    border: solid greenyellow;
    background-color: rgb(24, 24, 24);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    @include display-flex();
    font-family:Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
    color: rgb(165, 165, 165);
    flex: 1;
}

main {
    @include display-flex;
    flex-direction: row;
    flex: 5;
    .side-bar-left {
        @include display-flex();
        flex-direction: column;
        flex: 1;
        .profile-icon {
            display: flex;
            align-items: center;
            flex-direction: row;
            padding-left: 10px;
            flex: .6;
            gap: 10px;
            .icon-div {
                @include display-flex();
            } 
            .icon {
                @include display-flex();
                background-image: url(./images/preview.jpg);
                background-size: contain;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .icon-name {
                color: white;
            }
        }
        .upgrade {
            @include display-flex();
            flex: .4;
            align-items: center;
            .upgrade-btn {
                @include display-flex();
                align-items: center;
                background-color: rgb(24, 97, 255);
                width: 150px;
                height: 32px;
                border-radius: 50px;
                cursor: pointer;
            }
        }
        .add-tab {
            @include display-flex();
            align-items: center;
            flex: .4;
            #add-proj-icon{
                color:  rgb(24, 97, 255);
                padding-left: 10px;
            }
            .add-proj-text {
                flex: 5;
                padding-left: 10px;
            }
            .item-count {
                @include display-flex();
                align-items: center;
                flex: 2;
                .count {
                    @include display-flex();
                    align-items: center;
                    border-radius: 100px;
                    background-color: red;
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                }
            }
            #add-proj-btn {
                color:  rgb(24, 97, 255);
                flex: 1;
                cursor: pointer;
            }
        }
        .project-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            height: 700px;
            gap: 15px;
            .project-item {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                background-color: rgb(47, 47, 47);
                width: 200px;
                height: 50px;
                border-radius: 12px;
                cursor:default;
                #project-dlt {
                    cursor: pointer;
                }
            }
        }
    }
    .side-bar-right {
        @include display-flex();
        flex-direction: column;
        flex: 1;
        .suggest {
            @include display-flex();
            flex-direction: row;
            flex: .4;
            .add-suggested {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 5;
            }
            .settings {
                @include display-flex();
                align-items: center;
            }
        }
        .suggested-items {
            padding: 15px;
            flex-direction: column;
            flex: 9;
            .suggested-item {
                @include display-flex();
                align-items: center;
                width: 200px;
                height: 50px;
                border-radius: 12px;
                background-color: rgb(47, 47, 47);
                #add-sug-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:  rgb(24, 97, 255);
                    flex: 1;
                }
                .sug-text {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    flex: 5;
                }
            }
        }
    }
    .display-list {
        @include display-flex();
        flex-direction: column;
        flex: 5;
        header {
            @include display-flex();
            flex-direction: row;
            flex: 1.5;
            .greet {
                display: flex;
                flex-direction: column;
                flex: 8;
                font-size: 24px;
                font-weight: 900;
                .name {
                    display: flex;
                    color: white;
                    align-items: center;
                    flex: 1;  
                }
                .quote {
                    display: flex;
                    align-items: center;
                    flex: 1; 
                }
            }
            .date {
                display: flex;
                flex-direction: column;
                flex: 1.5;
                
                .weekday {
                    color: rgb(207, 207, 207);
                    flex: 1;
                    font-size: 24px;
                }
                .date {
                    color: white;
                    font-size: 64px;
                    flex: 3;
                }
                .month {
                    flex: .5;
                }
            }
            .date :nth-child(1n + 1) {
                @include display-flex();
                align-items: center;
            }
        }
        .todo-list {
            @include display-flex();
            flex-direction: column;
            flex: 7;
            .task-list {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: 15px 200px 15px 200px;
                border: 1px solid green;
                .task-item {
                    display: flex;
                    border-radius: 15px;
                    height: 85px;
                    background-color: rgb(47, 47, 47);
                    border: 1px solid green;
                    .check {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex: .5;
                        #check-mark {
                            font-size: 32px
                        }
                    }
                    .task-info {
                        display: flex;
                        flex-direction: column;
                        flex: 5;
                        border: 1px solid green;
                        .info {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            flex: 3;
                            font-size: 12px;
                            border: 1px solid green;
                            .task-node {
                                flex: 1;
                                border: 1px solid green;
                            }
                            .due-date {
                                flex: 5;
                                border: 1px solid green;
                            }
                        }
                        .task-name {
                            display: flex;
                            flex: 5;
                            color: white;
                            font-size: 24px;
                            border: 1px solid green;
                        }
                    }
                    .edit-task {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex: .3;
                        #edit-btn {
                            font-size: 32px;
                        } 
                    }
                    .task-dlt {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex: .3;
                        #task-dlt-btn {
                            font-size: 32px
                        }
                    }
                } 
            }
        }
        .search {
            @include display-flex();
            align-items: center;
            flex: .5;           
            .search-bar {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px;
                border: 1px solid;
                border-radius: 5px;
                .search-input {
                    background-color: rgba(0, 0, 0, 0);
                    padding-left: 5px;
                    color: white;
                    border: none;
                    outline: none;                    
                    width: 450px;
                    height: 30px;
                }
                #calendar {
                    cursor: pointer;
                }
                #upload {
                    color:  rgb(24, 97, 255);
                    cursor: pointer;
                }  
            }
            
        }
    }
}

footer {
    @include display-flex;
    align-items: center;
    flex: .2;
}