*, ::after, ::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@mixin display-flex {
    display: flex;
    justify-content: center;
    border: 1px solid pink;
}

.content {
    @include display-flex;
    flex-direction: column;
    height: 100svh;
}

header {
    @include display-flex;
    flex: .6;
}

main {
    @include display-flex;
    flex-direction: row;
    flex: 5;
}

footer {
    @include display-flex;
    flex: .3;
}